<html>

<head>
    <% # Code for page from: https://codepen.io/rikschennink/pen/rpNGyy %>
        <title>Peeps|Chitter</title>
        <link rel="stylesheet" href="stylesheets/peep-textbox.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
</head>

<body>
    <div class="container-md">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <p>
                    <span class="input ">
            <input type="text" placeholder="Peep to your heart 's desire!">
            <span></span>
                    </span>
                </p>
            </div>

            <div class="row">
                <button>Submit</button>
            </div>
        </div>
    </div>
</body>

</html>